---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro'

import {Content as Content} from '../content/datenschutz/datenschutz.md';
---

<Layout title="Willkommen bei Körpergefühl">
	<Nav />
	<main class="max-w-screen-xl mx-auto p-6 mb-12">
        <article class="mx-auto prose !max-w-screen-xl">
            <Content />
        </article>
	</main>
	<Footer id="footer" />
</Layout>

<style>

</style>
