---
import Layout from '../layouts/ContentLayout.astro';

import {Content as Content} from '../content/datenschutz.md';
---

<Layout title="Datenschutz bei Körpergefühl">
	<main class="mx-auto p-6 mb-12 prose !max-w-3xl">
		<Content />
	</main>
</Layout>

<style>

</style>
