---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro'
---

<Layout title="Willkommen bei Körpergefühl">
	<Nav />
	<main class="max-w-screen-xl mx-auto p-6 mb-12">
		<h1 class="text-2xl font-bold mb-6">Impressum</h1>
		<h2 class="text-lg font-bold pb-3">Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
		<p class="pb-6">
			<b>Physiotherapie K&ouml;rpergef&uuml;hl</b><br />
			Cathrin Eichler<br />
			Bultstr. 1<br />
			28309 Bremen</p>
		<h2 class="text-lg font-bold pb-3">Kontakt</h2>
		<p class="pb-6">Telefon: <a class="underline text-[theme('colors.green-dark')] hover:text-[theme('colors.green-medium')]" href="tel:+4942198964633">+49 (0)421 - 98 96 46 33</a><br />
			E-Mail: <a class="underline text-[theme('colors.green-dark')] hover:text-[theme('colors.green-medium')]" href="mailto:mail@physiotherapie-koerpergefuehl.de">mail@physiotherapie-koerpergefuehl.de</a></p>
		<h2 class="text-lg font-bold pb-3">Berufsbezeichnung und berufsrechtliche Regelungen</h2>
		<p>Berufsbezeichnung: Physiotherapeut</p>
		<p class="pb-6">Verliehen in: Deutschland</p>
		<h2 class="text-lg font-bold pb-3">Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
		<p class="pb-6">Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
		teilzunehmen.</p>
		<p class="pb-6">Quelle: <a class="underline text-[theme('colors.green-dark')] hover:text-[theme('colors.green-medium')]" href="https://www.e-recht24.de">eRecht24</a></p>
	</main>
	<Footer id="footer" />
</Layout>

<style>

</style>
