---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Kontakt from '../components/Kontakt.astro';
---

<Layout title="Willkommen bei Körpergefühl">
	<Nav />
	<Hero />
	<main class="max-w-screen-xl mx-auto p-6">
		<h2 class="text-xl font-bold pb-9 text-center">Was kann <span class="logo-text-first">Körper</span><span class="logo-text-second">gefühl</span> für mich tun?</h2>
		<ul id="behandlungen" role="list" class="xl:grid xl:grid-cols-3">
			<Card
				href="/"
				title="Physiotherapie"
				body="Wir bieten im Bereich Physiotherapie die klassische Krankengymnastik, Manuelle Lymphdrainage und die klassische Massage Therapie an. Zusätzlich zur normalen Physiotherapie bieten wir dir auch die Möglichkeit, ergänzende Heilmittel, wie zum Beispiel den Schlingentisch oder eine Rotlicht Therapie in Anspruch zu nehmen."
			/>
			<Card
				href="/"
				title="Heilpraktik"
				body="Im Bereich der Heilpraktik können wir deinen Körper mit chiropraktischen Techniken behandeln. Außerdem bieten wir Akutbehandlungen ohne die Verordnung eines Arztes an."
			/>
			<Card
				href="/"
				title="Private Leistungen"
				body="Im Bereich der privaten Zusatzleistungen kannst du dich bei Körpergefühl mit Massagen verwöhnen lassen, dir mit Taping schmerzen nehmen lassen und deine Muskeln bei einer Therapie mit der Emmett Technique entspannen lassen."
			/>
		</ul>
	</main>
	<Kontakt id="kontakt" />
</Layout>

<style>
	.logo-text-first {
		text-transform: uppercase;
		color: theme('colors.green-medium');
		font-family: 'AshemoreNormRegular', sans-serif;
	}
	.logo-text-second {
		text-transform: lowercase;
		color: theme('colors.green-dark');
		font-family: 'BrittanySignature-Regular', serif;
	}
</style>
