---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="rounded-md list-none bg-[theme('colors.green-light')] border-2 hover:shadow-lg hover:border-2 hover:border-[theme('colors.green-medium')] px-6 py-6 mb-6 xl:mr-6">
	<a href={href}>
		<h2 class="text-lg font-bold pb-3 text-[theme('colors.green-dark')]">
			{title}
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
<style>

</style>
