---
import { getImage } from 'astro:assets';
import LogoHalf from '../img/logo-hero-half.png'
import Zitat from './Zitat.astro';

const optimizedBackgroundImage = await getImage({ src: LogoHalf })
---

<div class="flex items-center justify-center bg-contain bg-no-repeat bg-right w-full min-h-96 mb-12" style={`background-image: url('${optimizedBackgroundImage.src}')`}>
    <div class="max-w-screen-xl mx-auto p-6 pb-12 text-center">
         <Zitat
            body="Was wäre, wenn Therapie nicht nur Beschwerden lindert, sondern dir auch neue Möglichkeiten eröffnet?"
        />
        <h1 class="text-5xl font-bold pt-12 pb-24">Willkommen bei <span class="logo-text-first">Körper</span><span class="logo-text-second">gefühl</span></h1>
        <button class="border-2 rounded-md border-[theme('colors.green-medium')] bg-[theme('colors.green-light')] text-[theme('colors.green-dark')] hover:bg-[theme('colors.green-medium')] hover:text-white font-bold text-lg px-6 py-3 mb-9"><a href="#kontakt">Vereinbare jetzt einen Termin bei uns</a></button>
    </div>
</div>

<style>

</style>
