---
---
<div
  class="prose
  prose-h1:font-bold prose-h1:text-2xl
  prose-a:text-[theme('colors.green-medium')] prose-p:text-justify prose-img:rounded-xl
  prose-headings:font-bold">
  <slot />
</div>