---
---

<div class="max-w-3xl mx-auto">
    <h2 class="text-2xl font-bold pb-9 text-center">Das Team hinter <span class="logo-text-first">Körper</span><span class="logo-text-second">gefühl</span></h2>
    <p>
        
        Gabriele Markart (frei beruflich tätig) Emmett Technique, Fußreflexzonenmassage,
        MLD, FOI, Massage
        Laura Intemann (Physiotherapeutin) – KG, KG-ZNS, MLD, Kinesio Tape
        Gina Neumann (Physiotherapeutin)- KG, MLD, Kinesio Tape
        Doris Bechler (Rezeption)
        Elke Weise (Rezeption)
    </p>
</div>