---
export interface Props {
	body: string;
}

const { body } = Astro.props;
---

<div class="mx-auto mb-9 pl-6 py-3 relative border-l-4 border-[theme('colors.green-medium')] md:-mx-24">
	<p class="italic text-2xl"><span class="text-[theme('colors.green-medium')] bold">"</span>{body}<span class="text-[theme('colors.green-medium')] bold">"</span></p>
</div>
<style>

</style>
